@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
    font-family: Arial, sans-serif;
}

.d-flex {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 15px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
} */